@tailwind base;
@tailwind components;
@tailwind utilities;

/* space-grotesk-latin-300-normal */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(/fonts/space-grotesk/space-grotesk-latin-300-normal.woff2) format('woff2'), url(/fonts/space-grotesk/space-grotesk-latin-300-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-400-normal */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/space-grotesk/space-grotesk-latin-400-normal.woff2) format('woff2'), url(/fonts/space-grotesk/space-grotesk-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-500-normal */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(/fonts/space-grotesk/space-grotesk-latin-500-normal.woff2) format('woff2'), url(/fonts/space-grotesk/space-grotesk-latin-500-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-600-normal */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(/fonts/space-grotesk/space-grotesk-latin-600-normal.woff2) format('woff2'), url(/fonts/space-grotesk/space-grotesk-latin-600-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-grotesk-latin-700-normal */
@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/space-grotesk/space-grotesk-latin-700-normal.woff2) format('woff2'), url(/fonts/space-grotesk/space-grotesk-latin-700-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/space-mono/space-mono-latin-400-normal.woff2) format('woff2'), url(/fonts/space-mono/space-mono-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-mono-latin-400-italic */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/space-mono/space-mono-latin-400-italic.woff2) format('woff2'), url(/fonts/space-mono/space-mono-latin-400-italic.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* space-mono-latin-700-italic */
@font-face {
    font-family: 'Space Mono';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/space-mono/space-mono-latin-700-italic.woff2) format('woff2'), url(/fonts/space-mono/space-mono-latin-700-italic.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: theme(colors.light);
    font-family: 'Space Grotesk', sans-serif;
}

:not(h1, h2, h3, h4, h5, h6) {
    font-family: 'Space Mono', monospace;
}